<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    const myObjectString2 = localStorage.getItem('objectGreeting');
    const myObject2 = JSON.parse(myObjectString2);
    const text = myObject2.hello; 
    const timeDay = text.split('-')[0];
    const weekDay = text.split("-")[1];
    const name =  text.split("-")[2];
    const email =  text.split("-")[3];
    function displayTimes() {
        document.getElementById('timeDisplay').innerHTML = timeDay;
        document.getElementById("day").innerHTML = weekDay;
        document.getElementById("name").innerHTML = name;
        document.getElementById('timeDisp').value = timeDay; 
        document.getElementById("weekDayInput").value = weekDay;
        document.getElementById("nameInput").value = name;
        document.getElementById("emailInput").value = email;
    }  
 
  </script>
<title>Confirm Time</title>
</head>
<body onload="displayTimes()">
	<div class="container">
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}" style = "color: white">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#" style = "color: white">How to..</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style = "color: white">Products and Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style = "color: white">Calculators and tools</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style = "color: white">Help</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style = "color: white">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style = "color: white" th:href="@{/logout}">Logout</a>
                  </li>
                </ul> 
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="How can we help?" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>

		<form action="#">
            <div class="row">
                <h3>Your Registration Was Sucesfully Set UP. you will receive an email confirmation soon</h3>
            </div>  
           <div class="row">
            </div>
			
		</form>
	</div>  <!-- container tag -->
</body>
</html>
