<!DOCTYPE html>
<html lang="en"
xmlns:th="https://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script th:inline="javascript">
        var globalVariable = "";
        function myFunction(){
          /*[# th:each="user: ${loggedUser}"]*/'default';
            var name = "[(${user.name})]"
            var email = "[(${user.Email})]"
            /*[/]*/
            document.getElementById("name").innerHTML = name;

            var availableBal = /*[[${availableBalance}]]*/ ""; 
            var currentBal = /*[[${currentBalance}]]*/ ""; 
            document.getElementById("availableBal").innerHTML = "$ " + availableBal;
            document.getElementById("currentBal").innerHTML = "$ " + currentBal;
        }
        function show(nr) {
          document.getElementById("table1").style.display="none";
          document.getElementById("table2").style.display="none";
          document.getElementById("table3").style.display="none";
          document.getElementById("table4").style.display="none";
          document.getElementById("table"+nr).style.display="block";
        }
    </script> 
</head> 
<body onload="myFunction()"> 
    
<div class="container">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/home}" style = "color: white">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#" style = "color: white">How to..</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style = "color: white">Products and Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style = "color: white">Calculators and tools</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style = "color: white">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style = "color: white">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" style = "color: white" th:href="@{/logout}">Logout</a>
              </li>
            </ul> 
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="How can we help?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav> <!--navigation bar menu tabs-->
    <br />
    <h3>Good Morning! </h3>&nbsp;
    <h4 id ="name"></h4> 
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4">
          <a th:href="@{/appointmentsetup}" class="btn btn-primary">Set up an appointment</a><br />
      </div>
    </div> <!--row div-->
    <br>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-6">
        <h2>My Accounts</h2>
        <br>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Accounts</th>
              <th scope="col">Current Balance</th>
              <th scope="col">Available Balance</th>
              <th scope="col">Transactions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Checking</th>
              <td id="availableBal"></td>  
              <td id="currentBal"></td>
              <td><a href="#" onclick='show(1);'>View Transactions</a></td>
            </tr>
            <tr><div id="table1"> Content of 1 </div></tr>
            <br> 
          </tbody>
        </table>
      </div>
      <div class="col-4">
          <a th:href="@{/creditcardapply}" class="btn btn-primary">Apply for a credit card</a><br/><br/>
          <a th:href="@{/maketransfer}" class="btn btn-primary">Make A Transfer</a><br /><br/>
          <a th:href="@{/makedeposit}" class="btn btn-primary">Make A Deposit</a><br />
      </div>
    </div> <!--row div-->
    </br> 

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
        </div>
        <div class="col-4"></div>
    </div> <!--row div-->
    </br></br>
</div>
</br>
</div>
</body>
</html>