<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script>
        function myNewFunction(sel) {
            var selectValue = sel.options[sel.selectedIndex].text
            alert(selectValue + " this is the value");
            document.getElementById("TranDesc").value = selectValue;
        }

        function availableAccountFunc(sel) {
            var selectValue = sel.options[sel.selectedIndex].text
            alert(selectValue + " this is the other value");
        }
    </script>
</head>
<body>
    
<div class="container">
  <nav class="navbar navbar-expand-lg bg-dark"> 
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/customers}" style = "color: white">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" style = "color: white">How to..</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="#" style = "color: white">Products and Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style = "color: white">Calculators and tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style = "color: white">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style = "color: white">About</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="How can we help?" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" >Search</button>
        </form>
      </div>
    </div>
  </nav>
<br />
<br />
<form action="#" th:action="@{/maketransfer/save}" th:object="${checkingList}" method="POST">
<div class="row">
  <div class="col"></div>
  <div class="col">
    <h6>Select A Transfer Type</h6>
      <div th:object="${transactions}" >
        <select class="form-select" aria-label="Default select example" id="ddlViewBy" onChange="myNewFunction(this);">
          <option selected>Select a transfer type</option>
          <option value="Withdrawal">Withdrawal</option>
          <option value="Deposit">Deposit</option> 
        </select> 
        <h6>Available Accounts</h6>
        <select class="form-select" aria-label="Default select example" onChange="availableAccountFunc(this);">
          <option selected>Select an account</option>
          <option>Checking</option> 
        </select>  
        </br>  
        <input type="text" class="form-control" id="TranDesc" th:field="*{Description}">
      </div>
    </br>       
    <label for="exampleInputPassword1" class="form-label">Amout</label>
    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{availableBalance}">
    </br>  
    <input class="btn btn-outline-primary" type="submit" value="Submit">
  </div>
  <div class="col"></div> 
</div>
</form>
</div>
</body>
</html>